<div class="container">
     <div class="row">
        <div class="col-md-12">
           <div class="center">
            <mat-tab-group>
                   <mat-tab label="Entreprise"> 
                      <app-enterprise-listing></app-enterprise-listing>
                   </mat-tab>
                    <mat-tab label="poste"><app-job-listing></app-job-listing></mat-tab>         
                   <mat-tab label="Poste pour une entreprise"><app-job-offer-listing></app-job-offer-listing></mat-tab>
                  <mat-tab label="Statistique"> <app-statistique></app-statistique></mat-tab>
              </mat-tab-group>
              </div>
        </div>
     </div>
</div>
  