.carbar{
  width: 0;
  height: 8px;
  position: absolute;
  top: calc(100% - 8px);
  left: 0;
  transition: width 3s linear 0ms;
  opacity: 0;
  z-index: 999;
}
.baractive{
  width:100%;
  opacity: 1;
}
.firas_circle{
  width: 16px;
  height: 16px;
  position: absolute;
  top: calc(100% - 40px);
  border-radius: 16px;
  background-color: rgba(0, 0, 0, .5);
  border: 1px solid rgba(255, 255, 255, .4);
  transition: background-color .5 linear 0ms;
  transition: border .5 linear 0ms;
  cursor: pointer;
  z-index: 999;
}
.ciractive, .firas_circle:hover{
  background-color: rgba(0, 0, 0, .9);
  border: 1px solid rgba(255, 255, 255, .9);
}
.firas_arrow{
  padding: 15px;
  width: 15px;
  height: 15px;
  border-radius: 30px;
  color: white;
  background-color: rgba(255,255,255,.6);
  background-image: url(../../../assets/images/cararrow.png);
  background-position: center;
  background-size: 40%;
  background-repeat: no-repeat;
  filter: invert(100%);
  transition: background-color .5s linear 0ms;
  position: absolute;
  top: calc(50% - 30px);
  cursor: pointer;
  z-index: 999;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
.firas_arrow:hover{
  background-color: rgba(255,255,255,1);
}
#firascarousel{
  width: 100%;
  position: relative;
  height: 550px;
  font-size: 0;
}
.kaaba{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  transition: opacity 1s ease-out 0s;
  vertical-align: top;
  opacity: 0;
  z-index: 1;
}
.caractive{
  opacity: 1;
  z-index: 99;
}
.cadri{
  display: inline-block;
  vertical-align: top;
  width: 600px;
  height: 100%;
  box-sizing: border-box;
  padding: 100px 80px;
  font-size: initial;
  text-align: center;
}
.taswira{
  display: inline-block;
  width: calc(100% - 600px);
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
