
<div class="main-content" style="height:500px; overflow:auto;" >
        <div class="container-fluid">
            <div class="row">
                  <div class="col-md-12">
                    <div class="card">
                          <div class="card-header">
                                 <h3> Creer votre offre</h3>
                                </div>
                        <div class="content">
                            <form [formGroup]="offerFormGroup">                               
                                    <div class="row">  
                                          <div class="col-md-4">
                                                  <mat-label>intitulé du poste :</mat-label> 
                                          </div>
                                      <div class="col-md-6">
                                         <div class="form-group">
                                              
                                          <mat-select formControlName="nom_poste" [compareWith]="compareById2" placeholder="choisir poste"> 
                                                 
                                                  <mat-option *ngFor="let job of jobs" [value]="job">
                                                          {{ job.name }}
                                                        </mat-option>
                                          </mat-select> 
                                          </div>
                                      </div>
                                      
                                  </div>
                                  <hr>
                                  <div class="row">  
                                          <div class="col-md-4">
                                                  <mat-label>Secteur d'activité  :</mat-label> 
                                          </div>
                                      <div class="col-md-6">
                                         <div class="form-group">
                                              
                                              <input formControlName="activity" type="text" class="form-control" placeholder="secteur d'activité">
  
                                          </div>
                                      </div>
                                      
                                  </div>
                                  <hr>
                                  <div class="row">
                                      <div class="col-md-4">
                                              <label>nom de entreprise</label>
                                      </div>
                                      <div class="col-md-6">
                                              <div class="form-group">
                                                   
                                               <mat-select formControlName="nom_enterprise" [compareWith]="compareById" placeholder="Select entreprise"> 
                                                      
                                                       <mat-option *ngFor="let enterprise of enterprises" [value]="enterprise">
                                                               {{ enterprise.name }}
                                                             </mat-option>
                                               </mat-select> 
                                               </div>
                                           </div>
                                  </div>
                                  <hr>
                                  <div class="row">  
                                          <div class="col-md-4">
                                                  <mat-label>Type de contrat :</mat-label> 
                                          </div>
                                      <div class="col-md-6">
                                         <div class="form-group">
                                              
                                              <input formControlName="type" type="text" class="form-control" placeholder="type">
  
                                          </div>
                                      </div>
                                      
                                  </div>
                                  <hr>
                                  <div class="row">  
                                          <div class="col-md-4">
                                                  <mat-label> Temps :</mat-label> 
                                          </div>
                                      <div class="col-md-6">
                                         <div class="form-group">
                                              
                                              <input formControlName="time" type="text" class="form-control" placeholder="Temps">
  
                                          </div>
                                      </div>
                                      
                                  </div>
                                  <hr>
                                  <div class="row">  
                                          <div class="col-md-4">
                                                  <mat-label>Date début de contrat :</mat-label> 
                                          </div>
                                      <div class="col-md-6">
                                         <div class="form-group">
                                              
                                              <input formControlName="startingDate" type="text" class="form-control" placeholder="secteur d'activité">
  
                                          </div>
                                      </div>
                                      
                                  </div>
                                  <hr>
                                  <div class="row">
                                          <div class="col-md-4">
                                                  <label>Salaire proposé</label>
                                          </div>
                                          <div class="col-md-6">
                                              <div class="form-group">
                                                 
                                                  <input formControlName="wage" type="text" class="form-control" placeholder="salaire">
                                              </div>
                                          </div>
                                      </div>
                                      <hr>
                                  <div class="row">
                                      <div class="col-md-4">
                                              <label>Lieu de travail </label>
                                      </div>
                                      <div class="col-md-6">
                                          <div class="form-group">
                                                  <input formControlName="town" type="text" class="form-control" placeholder="Lieu de travail">
  
                                          </div>
                                      </div>
                                  </div>
                                  <hr>
                                  <div class="row">
                                          <div class="col-md-4">
                                                  <label>Description du poste </label>
                                          </div>
                                          <div class="col-md-6">
                                              <div class="form-group">
      
                                                      <textarea formControlName="description"  class="form-control"  placeholder="decrire le poste">
                                                          </textarea>
                                                  
                                              </div>
                                          </div>
                                      </div>
                                      <hr>
                                      <hr>
                                      <div class="row">
                                              <div class="col-md-4">
                                                      <label>Diplôme minimum requis </label>
                                              </div>
                                              <div class="col-md-6">
                                                  <div class="form-group">
          
                                                          <input formControlName="minimumSchoolDegree" type="text" class="form-control" placeholder="diplome minimum">
  
                                                      
                                                  </div>
                                              </div>
                                          </div>
                                    <hr>
                                    <div class="row">
                                          <div class="col-md-4">
                                                  <label>Expérience attendue pour ce poste (nombre d'annees) </label>
                                          </div>
                                          <div class="col-md-6">
                                              <div class="form-group">
      
                                                      <input formControlName="experience_years"  class="form-control" type="text" placeholder="entrer votre experience">
                                                        
                                                  
                                              </div>
                                          </div>
                                      </div>
                                <hr>
                                  <div class="row">                 
                                         <div class="col-md-2"><label>Qualités requises pour le poste </label> </div>  
                                         <div class="col-md-2"> <button class="btn btn-info" (click)="addSkill()">add</button> </div>  
                                         <div class="col-md-6">
                                              <div formArrayName="skills"
                                              *ngFor="let skill of offerFormGroup.get('skills')['controls']; let i = index;">
                                              <div [formGroupName]="i">
                                                        <div class="row">
                                                                        <div class="col-md-5">
                                                                                <input formControlName="name"  class="form-control" type="text" placeholder="Compétence requise">
                                                                        </div>
                                                                        <div class="col-md-1">f
                                                                                <a  matTooltip="supprimer competence" style="color:red"  (click)="deleteSkill(i)"><mat-icon >delete</mat-icon></a>
                                                                        </div>
                                                                    </div>
                                                   </div>
                                            </div>
                                         </div>
                                      
                                  </div>
                                  <button type="submit" class="btn btn-info btn-fill pull-right"  (click)="updateOffer()">Enregistrer modifications</button>
                                  <div class="clearfix"></div>
                             </form>
                                  
                          </div>
                      </div>
                 </div>
            </div>
         </div>
      </div>
    
    
    
