<div class="main-content hottfennoss" >
  <p-messages [(value)]="messages"></p-messages>
  <div class="container-fluid">
    <div class="row">
      <div class="card">
        <div class="content">
          <form [formGroup]="changePasswordFormGroup">
            <div class="form-group">
              <label>Ancien Mot De Passe</label>
              <input formControlName="oldPassword" type="password" class="form-control" placeholder="Ancien Mot De Passe" [ngClass]="{ 'is-invalid': submitted && changePasswordFormGroup.controls.oldPassword.errors }">
              <div *ngIf="submitted && changePasswordFormGroup.controls.oldPassword.errors" class="invalid-feedback">
                <div *ngIf="changePasswordFormGroup.controls.password.errors.required">Ancien mot de passe est nécessaire </div>
              </div>
            </div>
            <div class="form-group">
              <label >Nouveau Mot De Passe</label>
              <input type="password" class="form-control" placeholder="Nouveau Mot De Passe" formControlName="password" [ngClass]="{ 'is-invalid': submitted && changePasswordFormGroup.controls.password.errors }">
              <div *ngIf="submitted && changePasswordFormGroup.controls.password.errors" class="invalid-feedback">
                <div *ngIf="changePasswordFormGroup.controls.password.errors.required">Mot de passe est nécessaire</div>
                <div *ngIf="changePasswordFormGroup.controls.password.errors.minlength">Mot de passe doit contenir au moins 6 caractéres</div>
              </div>
            </div>

            <div class="form-group">
              <label>Confirmer Votre Mot De Passe</label>
              <input type="password" class="form-control" placeholder="Confirmer Votre Mot De Passe" formControlName="confirmedPassword" [ngClass]="{ 'is-invalid': submitted && changePasswordFormGroup.controls.confirmedPassword.errors }" >
              <div *ngIf="submitted && f.confirmedPassword.errors" class="invalid-feedback">
                <div *ngIf="f.confirmedPassword.errors.required">Répéter mot de passe est nécessaire</div>
                <div *ngIf="f.confirmedPassword.errors.mustMatch">Passwords must match</div>
<!--                <div *ngIf="changePasswordFormGroup.controls.password.errors.notSame">Confirmation du mot de passe et mot de passe doivent étre identiques</div>-->
              </div>
            </div>
            <button type="submit" class="btn btn-info btn-fill pull-right"  (click)="updatePassword()">Modifier Profile</button>
            <div class="clearfix"></div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
