<div class="card container-fluid fix-margin">
    <div class="row">
         <div class="col-md-4">
              <button  (click)="addJob()"
              matTooltip="Ajouter une nouvelle entreprise"
              style="margin-top:15px;margin-bottom: 15px"
               class="btn btn-primary btn-md"  color="accent"
               
               mat-flat-button> <mat-icon > add</mat-icon>Ajouter poste</button>
         </div>
        <div class="col-md-4">
            <input #name type="text" class="form-control bas" placeholder="nom du poste">
        </div>    
     </div>
     
     <div class="card-body col-md-12">
          <mat-form-field class="col-md-12">

                  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtre ...">
                </mat-form-field>
                <mat-paginator class="col-md-12" [pageSizeOptions]="[5, 10, 20,50,100]" showFirstLastButtons></mat-paginator>
                <table mat-table [dataSource]="dataSource" matSort  class="table table-hover table-striped">
        
                  <!-- id Column -->
                  <ng-container matColumnDef="id">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
                              <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                  </ng-container>
                       <!-- name Column -->
                 <ng-container matColumnDef="name">
                             <th mat-header-cell *matHeaderCellDef mat-sort-header> name </th>
                             <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                 </ng-container>
                
                 <ng-container  matColumnDef="actions">
                      <th mat-header-cell *matHeaderCellDef    > Actions </th>
                      <td mat-cell *matCellDef="let element">
                       
                          <a  matTooltip="Supprimer l'offre" style="color:red" [routerLink]="" (click)="deleteJob(element.id)"><mat-icon >delete</mat-icon></a>
              
                      </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns; "></tr>
               </table>
                
     </div>
  </div>
