
  <div  style="margin-left:100px">
    <h3 class="text-white " style="font-size:15px ; bottom:0px">
      Consultez notre plateforme quotidiennement pour découvrir de nouvelles entreprises et de nouveaux postes
      
      <div class="float-right" style="background:#e9501e;font-size:15px;top:0px;width:100px; height:40px">
        <a href=""  >
        Postulez<i class="fas fa-paper-plane"></i>
      </a>
    
      </div>
      
    </h3>
  </div>
  </div>

<div><img src="../assets/images/barre.gif" alt="barre" height="100%" width="100%">
</div>
<div style="background :#1d70b7 ">
    <div style="background : #1d70b7">
      <div class="fullbar" style="background : #1d70b7 ; padding:30px">
        <a mat-button [routerLink]="'/Acceuil'"  class="link" >
          <i class="fas fa-home" style="size:50px"></i>
          Accueil </a>

        <a mat-button [routerLink]="'/NotrePlateforme'" *ngIf="!getAuthService().loggedIn()" class="link"> Qui Sommes nous ? </a>
        <a mat-button [routerLink]="'/QuiSommesNous'" *ngIf="!getAuthService().loggedIn()" class="link"> Notre Platforme</a>
        
        <a mat-button [routerLink]="'/Administration'" *ngIf="getAuthService().loggedIn()
                                                        && this.role=='ROLE_ADMIN'" class="link">Administration </a>
        <a mat-button [routerLink]="'/JobSearch'"
                *ngIf="getAuthService().loggedIn() &&
                      this.role=='ROLE_USER'" class="link"> Chercher un emploi </a>
        <a mat-button [routerLink]="'/EmploiTemps'" *ngIf="getAuthService().loggedIn()" class="link">Calendrier </a>
  
        <a mat-button [routerLink]="'/Login'"  *ngIf="!getAuthService().loggedIn()" style="color:white" id="connect" class="link-login" > Connectez-vous </a>
      <a mat-button [routerLink]="'/JobDemande'"
                    *ngIf="getAuthService().loggedIn() &&
                       this.role=='ROLE_ENTERPRISE'" class="link" > Mes offres </a>
                       <a mat-button [routerLink]="'/cvList'"
                       *ngIf="getAuthService().loggedIn() &&
                          this.role=='ROLE_ENTERPRISE'" class="link" > Mes CVs </a>
       <a mat-button  *ngIf="getAuthService().loggedIn() &&
                       this.role!=='ROLE_ADMIN'" class="link">
                       <div class="nav-item dropdown">
                          <a  class="nav-link notification dropdown-toggle link" data-toggle="dropdown">

                          </a>
                          <div class="dropdown-menu ">
                                <a
                                     class="dropdown-item"
                                        *ngFor="let notification of notifications;let i=index" (click)='getNotificationDetails(notification)'>
                                          <div *ngIf="!notification.seen;else unseennotif"
                                              class="seen" > {{getName(i)|uppercase }} vous contacte</div>
                                           <ng-template #unseennotif class="unseen"> {{getName(i)|uppercase }} vous contacte</ng-template>
                                </a>
                        </div>

                      </div>
            </a>
        <a  mat-button  *ngIf="getAuthService().loggedIn()" [routerLink]="" class="link-img right">
            <div class="nav-item dropdown" >
                <a  class="nav-link dropdown-toggle link" data-toggle="dropdown" >
                    <img  class="link" [src]="loggedUser.image"  alt=""
                         style="border-radius:20px; height:40px; width:40px;">
                   <!-- <ng-template #nonImage>
                        <img class="link" src="http://res.cloudinary.com/dk34qvajk/image/upload/v1513190129/placeholder.png"  style="border-radius:15px; height:30px; width:30px;">
                    </ng-template>-->
                    {{loggedUser.username}}</a>
                <div class="dropdown-menu dropdown-menu-right" >
                    <a  [routerLink]="'/Profil'" *ngIf="getAuthService().loggedIn()"
                                  class="dropdown-item">Profil<i class="fas fa-user" ></i> </a>
                    <div class="dropdown-divider"></div>
                    <a (click)="logout()" [routerLink]="'/Login'" *ngIf="getAuthService().loggedIn()"
                            class="dropdown-item">Deconnection<i class="fas fa-sign-out" ></i></a>
                      <div class="dropdown-divider"></div>
                   <a  [routerLink]="'/mdpChange'" *ngIf="getAuthService().loggedIn()"
                                    class="dropdown-item">changer mot de passe<i class="fas fa-sign-out" ></i></a>
                </div>
              </div>
          </a>


      </div>
    </div>
  </div>
<notifier-container></notifier-container>
