//css of old navbar
.main-div{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.seen{
  background-color: rgb(235, 233, 233);
  border:2px;
  border-radius:10px;
  height:50px;
}
 .unseen{
   background-color: rgb(240, 240, 240);
   height:50px;
 }

.example-card-center{
    height:300px;
    width: 300px;
}
.example-card-center.mat-card-content{
    justify-content: center;
    align-items: center;
  }

  .seen{
    background-color: #EAEAEA;
    border:2px;
    height:50px;
  }
   .unseen{
     background-color: rgb(236, 234, 234);
     border:2px;
     height:50px;
   }

  .example-card-center{
      height:300px;
      width: 300px;
  }
  .example-card-center.mat-card-content{
      justify-content: center;
  }

  body {
    margin: 0;
    padding: 0;
    background-color: #1d70b7;
    height: 100vh;
  }
  #login .container #login-row #login-column #login-box {
    margin-top: 120px;
    max-width: 600px;
    height:370px;
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA;
  }
  #login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
  }
  #login .container #login-row #login-column #login-box #login-form #register-link {
    margin-top: -85px;
  }

  label  {
    color: #1d70b7;
  }

  h3 {
    color: #1d70b7;
  }

  #register-link {
    color: #1d70b7;
  }

  .link:hover{ background: #94c01f; color: white; }

  .right{

    margin-left:50%;

    //
  }

  .link {
    color: white;
  }
  .link-login:hover{ background: #f4f4f4; color: white; }
  .link-login{
    float:right;
    font-size:15px;
  }

#connect{
-webkit-transition-duration: 0.4s; /* Safari */
transition-duration: 0.4s;
}
#connect:hover {
background-color: #1f2ac0; /* Green */
color: white;
}
.link,.link-img{
  font-size:15px;
  color: white;
  margin-bottom: 0%;
  
}


  .dropdown-item{
    font-size:15px;

   
  }
 
.dropdown-item:hover {
  background-color: #94c01f; /* Green */
  color: black;
}

.dropdown-menu{

  width: 300px;
}

.fullbar{
  height:90px;
  width:100%;
}

/* Notifications */

.notification {
  display: inline-block;
  position: relative;
  margin-top:1%;
  padding: 0.6em;
  //background: #db6334;
  border-radius: 0.2em;
  font-size: 1.3em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.notification::before,
.notification::after {
  color: #fff;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

.notification::before {
 // display: block;
  content: "\f0f3";
  font-family: "FontAwesome";
  transform-origin: top center;
}

.notification::after {
   transform-origin: top center;
  margin-top:10%;
  font-family: Arial;
  font-size: 0.7em;
  font-weight: 700;
  position: absolute;
  top: -11px;
  right: -11px;
  padding: 0.6em;
  line-height: 100%;
  border: 2px #fff solid;
  border-radius: 80px;
  background: #da3a1e;
  opacity: 1;
  content: attr(data-count);
  opacity: 1;
  transform: scale(0.8);
  transition: transform, opacity;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

.notification.notify::before {
  animation: ring 1.5s ease;
}

.notification.show-count::after {
 // transform: scale(1.5);
  opacity: 1;
}


///////////////////////////////