
<div class="container">
  
      <div class="row">
         <div class="col-md-12">
             <div class="center">
                        <mat-tab-group >
                                    <mat-tab label="Genre"> 
                                      <div style="display: block" *ngIf="readyGenderFlag">
                                        <canvas baseChart
                                        [data]="pieChartGenderData"
                                        [labels]="pieChartGenderLabels"
                                        [chartType]="pieChartType"
                                        [legend]="true"
                                        >
                                       </canvas>
                                    </div>
                                    </mat-tab>
                                    
                                <mat-tab label="Age">
                                   <div class="row">
                                       <div class="col-md-4">
                                             <button  (click)="searchByAge()"
                                             matTooltip="statistique selon age du candidat"
                                             style="margin-top:15px;margin-bottom: 15px"
                                              class="btn btn-primary btn-md"  color="accent"
                                              
                                              mat-flat-button> <mat-icon > search</mat-icon>entrez l'age</button>
                                        </div>
                                       <div class="col-md-4" >
                                           <input  #age type="number" class="form-control bas" placeholder="age du candidat">
                                       </div> 
                                   </div>
                                   <div class="r">
                                       <div style="display: block">
                                             <canvas
                                             baseChart
                                             [chartType]="'bar'"
                                             [datasets]="chartAgeData"
                                             [labels]="ageLabels"
                                            
                                               ></canvas>
                                               </div>
                                   </div>
                                </mat-tab>
                                <mat-tab label="gouvernorat"><div style="display: block">
                                 <canvas
                                 baseChart
                                 [chartType]="'bar'"
                                 [datasets]="chartData"
                                 [labels]="labels"                               
                                   ></canvas>
                                   </div>
                                </mat-tab>
                               
                                  <mat-tab label="Postes"> 
                                          <div style="display: block" *ngIf="readyJobFlag">
                                             <canvas baseChart
                                             [data]="pieChartJobData"
                                             [labels]="pieChartJobLabels"
                                             [chartType]="pieChartType"
                                             [legend]="true"></canvas>
                                       </div></mat-tab>
                               </mat-tab-group>
             </div>
         </div>
      
      </div>
 </div>
   