<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<!----
<body style="background-image: url('../assets/images/empreinte.png')">

-->
    <body style="background-image: url('../assets/images/login.png') ; background-size: 1920px;">

<div id="login" style="background:a09d9c">
        <h1 class="text-center text-white pt-3">Connectez-vous</h1>
        <div class="container"style="background:a09d9c">
            <div id="login-row"  class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form id="login-form" class="form"  [formGroup]="loginForm" (ngSubmit)="login()">
                            <h3 class="text-center "></h3>
                            <div class="form-group">
                                <label for="username" >Identifiant:</label><br>
                                <input type="text"  formControlName="username" class="form-control" required>
                                <mat-error *ngIf="isFieldInvalid('username')">
                                    Identifiant requis
                                  </mat-error>
                            </div>
                            
                            <div class="form-group">
                                <label for="password" >Mot de passe:</label><br>
                                <input type="password"  formControlName="password" class="form-control" required>
                                <mat-error *ngIf="isFieldInvalid('password')">
                                    Mot de passe requis
                                  </mat-error>
                            </div>
                            <mat-error *ngIf="this.isSubmitted" >
                                 Mot de passe ou nom d'utilisateur invalide
                            </mat-error>

                            <div class="form-group">
                                <label for="remember-me" ><span>Se souvenir de moi</span> 
                                    <span><input id="remember-me" name="remember-me" type="checkbox"></span></label><br>
                                <input type="submit" name="submit" class="btn btn-info btn-md" value="Se connecter"
                                     [disabled]="!isFormValid()">
                                   
                            </div>
                            <div id="register-link" class="text-right">
                                <a [routerLink]="'/Signup'" >Créer Un Compte</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
