<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<div class="main-content" >
    <div class="container-fluid">
                     
                              <div class="row">
                                      <div class="col-md-4"> 
                                        <div class="list-group">
                                            <button type="button" class="list-group-item list-group-item-action active">
                                              Vos Offres Confirmées  ({{jobDemandes.length}})
                                            </button>
                                            <button type="button" 
                                                   class="list-group-item list-group-item-action"
                                                   *ngFor="let jobDemande of jobDemandes;let i= index"
                                                    
                                                   (click)="getConfirmedJobDemandeDetails(jobDemande)">
                                                   <div *ngIf="this.senders[i]">
                                                     notification ({{i}}) from  {{this.senders[i].username}}
                                                   </div></button>
   
                                          </div>
                                           </div> 
                                           <div class="vl"></div>
                                           <div class="col-md">
                                              <div class="incenter">
                                                <!------------------------------------------------------------------------->
                                                <section class="details-card" >
                                                    <h2>Details de vos offres d'emploi Confirmées</h2>
                                                    <hr>
                                                    <div class="container">
                                                        <div class="row">
                                                          
                                                
                                                                <div class="col-md-10 " >
                                                                    <div class="divup" >
                                                                        <div class="card-content">
                                                                            
                                                                            <div class="card-desc">
                                                                                <h4>Bonjour Entreprise  </h4>
                                                                                <h3>{{this.confirmedJobDemande.jobOffer.enterprise.name}}</h3>
                                                                                <div class="linediv">
                                                                                        <h4 > le  chercheur d'emploi:</h4>
                                                                                        <h3>{{this.sender.username}}</h3>
                                                                                </div>
                                                                                <h4>a confirmé sa presence pour   </h4>
                                                                                <div class="linediv">
                                                                                        <h4 >le Poste:</h4>
                                                                                        <h3>{{this.confirmedJobDemande.jobOffer.job.name}}</h3>
                                                                                </div>
                                                                             <!--    
                                                                                <button class="btn-card btn-primary" >close</button>   
                                                                                --> 
                                                                            </div>
                                                                          </div>
                                                                      </div>
                                                                    </div>
                                                        </div>
                                                        <div class="row">
                                                          <div class="col-md-12">
                                                             <mat-expansion-panel>
                                                                 <mat-expansion-panel-header>
                                                                   <mat-panel-description>
                                                                      <h4>voir details du CV</h4> 
                                                                   </mat-panel-description>
                                                                 </mat-expansion-panel-header>
                                                                     <app-cv-display [jobDemande]="confirmedJobDemande" 
                                                                                        [cv]="confirmedJobDemandeCV" ></app-cv-display>
                                                               </mat-expansion-panel>
                                                          </div>
                                                     </div>
                                                    </div>
                                                </section>
                                                
                                                
                                                <!-------------------------------------------------------------------------->
                                             </div>     
                                                
                                           </div>

                              
                         
                      </div>
             
        
  </div>
</div>
