<div class="main-content" >
  <div class="container-fluid">
    <div class="row">

      <div class="card ">
        <div class="card-header">
          <h3>Choisissez Votre Poste</h3>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-3">
              <form [formGroup]="PostesForm" (ngSubmit)="onSubmit()">
                <div *ngFor="let poste of postList">
                  <div class="pretty p-default p-curve p-thick">
                    <input type="radio" value="{{poste.id}}" formControlName="choice" />
                    <div class="state">
                      <label> {{poste.name}}</label>
                    </div>
                  </div>
                </div>
                <hr>
                <button type="submit" class="btn btn-info btn-fill btn-violet" [disabled]="!PostesForm.value.choice"  >Search Job</button>
              </form>
            </div>
            <div class="vl"></div>
            <div class="col-md">
              <div class="incenter">
                <app-job-offer></app-job-offer>
              </div>

            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>
