btn-violet{
    background-color: rgba(129, 88, 156, 0.133)
}
.vl{
    border-left: 1px solid rgb(27, 29, 27);
    height:auto
}
.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
    width:100%;
}

.incenter{
    
        margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
        width:100%;
   
}
.btn{
    margin-top:10px;
}