
<div class="main-content" >
<!--    <p-messages [(value)]="msgs"></p-messages>-->
      <div class="container-fluid">
          <div class="card text-center">

            <div class="row">
              <div class="col-md-12">
                    <div classs="card-header"> 
                    <div class="row text-center">
                        <div class="col-md-2">
                            
                        </div>
                        <div class="col-md-6">
                                <app-upload [flag]="0" [imgURL]="image"></app-upload> 
                        </div>
                         
                    </div>
                    </div>
                      <div class="content text-center ">
                          <form [formGroup]="CVForm" >
                              <hr>
                              <div class="row text-center">
                                      <div class="col-md-6">
                                          <div class="form-group">
                                              <label>Prenom</label>
                                              <input readonly formControlName="firstName" type="text" class="form-control" placeholder="firstName">
                                          </div>
                                          </div>
                                          <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Nom</label>
                                                    <input readonly formControlName="lastName" type="text" class="form-control" placeholder="lastName">
                                                </div>
                                             </div>

                                       </div>
                                        <hr>
                                       <div class="row">
                                            <div class="col-md-6">
                                                    <div class="form-group">
                                                            <label>Adresse</label>
                                                            <input readonly type="text" class="form-control" placeholder="address" formControlName="address">
                                                        </div>
                                            </div>
                                            <div class="col-md-6">
                                                    <div class="form-group">
                                                            <label >telephone</label>
                                                            <input readonly type="text" class="form-control" placeholder="telephone" formControlName="phone">
                                                        </div>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                           <div class="col-md-12">
                                                <div class="form-group">
                                                        <label for="exampleInputEmail1">Adresse Email</label>
                                                        <input readonly readonlytype="email" class="form-control" placeholder="Email" formControlName="email">
                                                    </div>
                                           </div>
                                        </div>
                                        <hr>
                                      <div class="row">

                                          <div class="col-md-12">
                                                <label >Logiciels</label>
                                              <div formArrayName="softwares" >
                                                  <div  *ngFor="let software of CVForm.get('softwares')['controls']; let i = index">
                                                      <div [formGroupName]="i">
                                                               <label>logiciel({{i+1}})</label>
                                                               <div class="row">
                                                                <div class="col-md-2">
                                                                    <label for="name">Nom Logiciel</label>
                                                                 </div>
                                                                 <div class="col-md-10">
                                                                    <input readonly formControlName="name" class="form-control" placeholder="software" >
                                                                 </div>
                                                             </div>
                                                             <div class="row">
                                                                <div class="col-md-2">
                                                                    <label for="name">Niveau</label>
                                                                 </div>
                                                                 <div class="col-md-10">
                                                                    <input readonly formControlName="level" class="form-control" type="number" placeholder="level" >
                                                                </div>
                                                                                                                        
                                                      </div>

                                                    </div>
                                              </div>
                                          </div>
                                       </div>
                                    </div>
                                      <hr>
                                      <div class="row">

                                          <div class="col-md-12">
                                                <label>Langues</label>
                                              <div formArrayName="languages" >
                                                  <div  *ngFor="let language of CVForm.get('languages')['controls']; let i = index">
                                                      <div [formGroupName]="i">
                                                                <label>langue({{i+1}})</label>
                                                                <div class="row">
                                                                    <div class="col-md-2">
                                                                        <label for="name">Langue</label>
                                                                     </div>
                                                                     <div class="col-md-10">
                                                                        <input readonly formControlName="name" class="form-control" placeholder="language" >
                                                                    </div>
                                                                 </div>
                                                                 <div class="row">
                                                                    <div class="col-md-2">
                                                                        <label for="name">Niveau</label>
                                                                     </div>
                                                                     <div class="col-md-10">
                                                                        <input readonly formControlName="level" class="form-control"  type="number" placeholder="level" >
                                                                    </div>
                                                                 </div>
                                                      </div>

                                                    </div>
                                              </div>
                                          </div>
                                      </div>
                                      <hr>
                                      <div class="row">

                                          <div class="col-md-12">
                                                <label>Interets</label>
                                              <div formArrayName="interests" >
                                                  <div  *ngFor="let interest of CVForm.get('interests')['controls']; let i = index">
                                                      <div [formGroupName]="i">
                                                                <label>interest({{i+1}})</label>
                                                                <div class="row">
                                                                    <div class="col-md-2">
                                                                        <label for="name">Inetret</label>
                                                                     </div>
                                                                     <div class="col-md-10">
                                                                        <input readonly formControlName="name"  class="form-control" placeholder="interest" >
                                                                    </div>
                                                                 </div>
                                                                 <div class="row">
                                                                    <div class="col-md-2">
                                                                        <label for="name">Description</label>
                                                                     </div>
                                                                     <div class="col-md-10">
                                                                        <input readonly formControlName="description" class="form-control" placeholder="description">
                                                                    </div>
                                                                 </div>
                                                          </div>
                                                    </div>
                                              </div>
                                          </div>
                                      </div>

                                     <hr>
                                      <div class="row">
                                          <div class="col-md-12">
                                                <div class="text-center">
                                                        <label>Experiences</label>
                                                </div>
                                              <div formArrayName="professionalExperiences" >
                                                  <div  *ngFor="let experiences_professionnelle of CVForm.get('professionalExperiences')['controls']; let i = index">
                                                      <div [formGroupName]="i">
                                                               <label>Experience ({{i+1}})</label>
                                                               <div class="row">
                                                                   <div class="col-md-2">
                                                                       <label for="name">Entreprise</label>
                                                                    </div>
                                                                    <div class="col-md-10">
                                                                        <input readonly formControlName="enterprise" class="form-control" placeholder="Entreprise" >
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-md-2">
                                                                         <label for="name">Poste</label>
                                                                    </div>
                                                                    <div class="col-md-10">
                                                                        <input readonly formControlName="post" class="form-control" placeholder="post" >
                                                                    </div>
                                                                 </div>
                                                                 <div class="row">
                                                                    <div class="col-md-2">
                                                                         <label for="name">Date debut</label>
                                                                    </div>
                                                                    <div class="col-md-10">
                                                                        <input readonly formControlName="startingDate" type="date" class="form-control" placeholder="Date debut" >
                                                                    </div>
                                                                 </div>
                                                                 <div class="row">
                                                                    <div class="col-md-2">
                                                                         <label for="name">Date fin</label>
                                                                    </div>
                                                                    <div class="col-md-10">
                                                                        <input readonly formControlName="finishingDate" type="date" class="form-control" placeholder="Date fin" >
                                                                    </div>
                                                                 </div>

                                                      </div>

                                                    </div>
                                              </div>
                                          </div>
                                      </div>
                                      <hr>
                                      <div class="row">

                                          <div class="col-md-12">
                                                <label>Formations</label>
                                              <div formArrayName="studies" >
                                                  <div  *ngFor="let study of CVForm.get('studies')['controls']; let i = index">
                                                      <div [formGroupName]="i">
                                                               <label>Formation({{i+1}})</label>
                                                                 <div class="row">
                                                                     <div class="col-md-2">
                                                                          <label for="name">Diplome</label>
                                                                     </div>
                                                                     <div class="col-md-10">
                                                                        <input readonly formControlName="name" class="form-control" placeholder="name" >
                                                                     </div>
                                                                 </div>
                                                                 <div class="row">
                                                                    <div class="col-md-2">
                                                                         <label for="name">Institution</label>
                                                                    </div>
                                                                    <div class="col-md-10">
                                                                        <input readonly formControlName="institution" class="form-control" placeholder="institution" >
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-md-2">
                                                                         <label for="name">Mention</label>
                                                                    </div>
                                                                    <div class="col-md-10">
                                                                        <input readonly formControlName="mention" class="form-control" placeholder="mention" >
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-md-2">
                                                                         <label for="name">Date</label>
                                                                    </div>
                                                                    <div class="col-md-10">
                                                                        <input readonly type="date" class="form-control" formControlName="date" placeholder="date" >
                                                                    </div>
                                                                </div>

                                                      </div>

                                                    </div>
                                              </div>
                                          </div>
                                      </div>
                                      <hr>
                                      <div class="row">

                                          <div class="col-md-12">
                                                <label>socialMedias</label>
                                              <div formArrayName="socialMedias" >
                                                  <div  *ngFor="let socialMedia  of CVForm.get('socialMedias')['controls']; let i = index">
                                                      <div [formGroupName]="i">
                                                                <label>socialMedia({{i+1}})</label>
                                                                <div style="white-space:nowrap">
                                                                    <div class="row">
                                                                        <div class="col-md-2">
                                                                            <label for="type">type:</label>
                                                                        </div>
                                                                        <div class="col-md-10">
                                                                            <input if="type" readonly formControlName="type" class="form-control" placeholder="type" >
                                                                        </div>
                                                                    </div>
                                                                       
                                                                </div>
                                                                <div style="white-space:nowrap">
                                                                     <div class="row">
                                                                         <div class="col-md-2">
                                                                            <label for="path">path:</label>

                                                                         </div>
                                                                         <div class="col-md-10">
                                                                            <input readonly formControlName="path"  class="form-control" placeholder="path" >
                                                                         </div>
                                                                     </div>
                                                                </div>

                                                      </div>

                                                    </div>
                                              </div>
                                          </div>
                                      </div>


                              <hr>
                              <div *ngIf="this.jobDemande.status==='PENDING'">
                                   <button type="submit" class="btn btn-info btn-fill pull-left" (click)="Accepter()" >Accepter</button>
                                   <button type="submit" class="btn btn-danger btn-fill pull-right" (click)="Refuser()" >Refuser</button>
                              </div>
                              <div *ngIf="this.jobDemande.status==='CONFIRMED'">
                                <div class="row">
                                        <div class="col-md-5"></div>
                                        <div class="col-md-5">
                                              <button  class="btn btn-success btn-fill pull-left"  [disabled]="true">Confirmée</button>
                                        </div>
                                </div>   
                            </div>
                            <div *ngIf="this.jobDemande.status==='REFUSED'">
                                    <div class="row">
                                            <div class="col-md-5"></div>
                                            <div class="col-md-5">
                                                  <button  class="btn btn-success btn-fill pull-left"  [disabled]="true">Deja Refusée</button>
                                            </div>
                                    </div>   
                                </div>
                                <div *ngIf="this.jobDemande.status==='ACCEPTED'">
                                        <div class="row">
                                                <div class="col-md-5"></div>
                                                <div class="col-md-5">
                                                      <button  class="btn btn-success btn-fill pull-left"  [disabled]="true">Deja Acceptée</button>
                                                </div>
                                        </div>   
                                    </div>
                             
                          </form>
                      </div>

              </div>

          </div>
        </div>
      </div>
  </div>



