


<div class="container">
    <div class="row">
            <div class="center">
                    <img *ngIf="imgURL"  [src]="imgURL" height="200"  style="border-radius:150px; height:300px; width:300px;">
            </div>
    </div>
    <div class="row" *ngIf="flag">
        
            <span style="color:red;" *ngIf="message">{{message}}</span>
            <input #file type="file" accept='image/*' (change)="preview(file.files)"  style="display:none;"/>
            <button class="btn btn-info btn-lg" (click)='file.click()'>Inserer une photo</button>
           
    </div>
</div>
