
.main-div{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .example-card-center{
      height:300px;
      width: 300px;
  }
  .example-card-center.mat-card-content{
      justify-content: center;
  }
  
  body {
    margin: 0;
    padding: 0;
    background-color: #94c01f;
    height: 400vh;
  }
  #login .container #login-row #login-column #login-box {
    margin-top: 120px;
    max-width: 600px;
    height:auto;
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA;
  }
  #login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
  }
  #login .container #login-row #login-column #login-box #login-form #register-link {
    margin-top: -85px;
  }
  
  label  {
    color: #641c9e;
  }
  
  h3 {
    color: #641c9e;
  }
  
  #register-link {
    color: #641c9e;
  }
  