<!-- Footer -->
<footer style=" color:white" class="page-footer font-small unique-color-dark" style="background:#a09d9c  ">

  <div style="background-color: #1d70b7; color:white ">
    <div class="container">

      <!-- Grid row-->
      
      <div class="row py-4 d-flex align-items-center " style=" color:white ">

        <!-- Grid column -->
        <div class="col-md-6 col-lg-5 text-center text-md-left mb-5 mb-md-0" style=" color:white">
          <h6 class="mb-0">Suivez nous sur nos reseaux sociaux!</h6>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-6 col-lg-7 text-center text-md-right" >

          <!-- Facebook -->
          <a class="fb-ic" style="color:white" href="https://www.facebook.com/PINSEC.cies.tn" >
            <i class="fa fa-facebook-f white-text mr-4"> </i>
          </a>
          <!-- Twitter -->
          <a class="tw-ic" >
            <i class="fa fa-twitter white-text mr-4"> </i>
          </a>
          <!-- Twitter -->
          <a class="tw-ic">
            <i class="fa fa-linkedin-in"></i>

        </a>
          <!--Instagram-->
          <a class="ins-ic">
            <i class="fa fa-instagram white-text"> </i>
          </a>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row-->

    </div>
  </div>

  <!-- Footer Links -->
  <div class="container text-center text-md-left mt-8" >

    <!-- Grid row -->
    <div class="row mt-3">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

        <!-- Content -->
        <img src="../assets/images/footer.png" style="height: 30%;width:80%" alt="Italian Trulli">
        <br>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto text-white"  >
        <p class="text-white" style="text-align: justify;text-justify: inter-word">L’ONG italienne CIES, l’UTSS et tous ses partenaires locaux et internationaux, en collaboration avec la Chambre Tuniso Italienne de Commerce et d'Industrie (CTICI) et l’ANETI organisent un Salon de l’emploi, le mercredi 23 octobre 2019 à l’hôtel Golden Tulip El Mechtel, à partir de 9h du matin.
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4" style="visibility:hidden">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Products</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a href="#!">MDBootstrap</a>
        </p>
        <p>
          <a href="#!">MDWordPress</a>
        </p>
        <p>
          <a href="#!">BrandFlow</a>
        </p>
        <p>
          <a href="#!">Bootstrap Angular</a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4" style="visibility:hidden">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Useful links</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a href="#!">Your Account</a>
        </p>
        <p>
          <a href="#!">Become an Affiliate</a>
        </p>
        <p>
          <a href="#!">Shipping Rates</a>
        </p>
        <p>
          <a href="#!">Help</a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div style="font-color:white" class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

        <!-- Links -->
        <h4 class="text-uppercase font-weight-bold text-white " >Contactez-nous</h4>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" >
        <p class="text-white">
          <i class="fa fa-home mr-4"></i> 10, Rue Ali Bach Hamba – 2070 La Marsa</p>
        <p class="text-white">
          <i class="fa fa-envelope mr-3"></i> ciestunisie@cies.it
        </p>
        <p class="text-white">
          <i class="fa fa-phone mr-3"></i> (+216) 71 749 608</p>
        <p class="text-white">
          <i class="fa fa-print mr-3"></i> (+216) 71 749 608</p>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3 text-white">© 2019 Copyright:
    <a href="https://mdbootstrap.com/education/bootstrap/"> CIES Onlus</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->