#firas_img{
  width: 100%;
  background-image: url(../../../assets/images/ppp.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  overflow: hidden;
}
.firas_txt{
  width: 100%;
  height: calc(100% / 5);
  position: absolute;
  text-align: center;
  box-sizing: border-box;
  transition: all .5s ease-out 0ms;
  opacity: 0;
}
.txtright{
  right: -10%;
  padding: 10% 40px 10% 50%;
}
.txtleft{
  left: -10%;
  padding: 10% 50% 10% 40px;
}
.righttxtactive{
  right: 0;
  opacity: 1;
}
.lefttxtactive{
  left: 0;
  opacity: 1;
}
